Repository 0xBigBoss/silo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: bunx oxlint {staged_files}
    format:
      glob: "*.{ts,tsx,json,toml}"
      run: bunx oxlint --fix {staged_files}
    typecheck:
      run: bun run tsc --noEmit

pre-push:
  commands:
    test:
      run: bun test
    knip:
      run: bunx knip
    jscpd:
      run: bunx jscpd src/

chore: add README and MIT license
  LICENSE
  README.md
  package.json
Due: format

chore: configure knip and add minimal test
  knip.json
  src/core/name.test.ts
Due: lint, format

chore: add repository metadata
  package.json
Due: format

feat: add profile support for environment-specific overrides
  SPEC.md
Due: none

feat: implement profile support
  src/cli.ts
  src/commands/down.ts
  src/commands/env.ts
  src/commands/profiles.ts
  src/commands/status.ts
  src/commands/up.ts
  src/core/config.ts
  src/core/env.ts
  src/core/instance.ts
  src/core/lockfile.ts
  src/core/profile.ts
  src/core/types.ts
  src/core/variables.ts
Due: lint, format

feat: add Claude Code plugin and changesets
  .changeset/README.md
  .changeset/config.json
  .claude-plugin/plugin.json
  .github/workflows/release.yml
  bun.lock
  package.json
  scripts/sync-versions.ts
  skills/silo/SKILL.md
Due: lint, format

docs: add release lifecycle to CLAUDE.md
  CLAUDE.md
Due: none

refactor: extract shared profile and env file utilities
  src/commands/env.ts
  src/commands/up.ts
  src/core/env.ts
  src/core/profile.ts
  src/utils/logger.ts
Due: lint, format

chore: release v0.2.0
  .claude-plugin/plugin.json
  CHANGELOG.md
  package.json
Due: format

fix: use NODE_AUTH_TOKEN for npm publish
  .github/workflows/release.yml
Due: none

fix: add setup-node for npm registry auth
  .github/workflows/release.yml
Due: none

ci: debug npm token
  .github/workflows/release.yml
Due: none

ci: use npm publish directly
  .github/workflows/release.yml
Due: none

ci: explicit npmrc config
  .github/workflows/release.yml
Due: none

ci: debug npmrc
  .github/workflows/release.yml
  Screenshot 2026-01-17 at 17.20.13.png
Due: none

ci: use env var reference in npmrc
  .github/workflows/release.yml
Due: none

ci: separate publish step from changesets
  .github/workflows/release.yml
Due: none

ci: fix secret name to NODE_AUTH_TOKEN
  .github/workflows/release.yml
Due: none

feat: add marketplace.json for Claude Code plugin installation
  .claude-plugin/marketplace.json
  scripts/sync-versions.ts
Due: lint, format

fix: restructure plugin for marketplace format
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  .claude-plugin/silo/skills/silo/SKILL.md
  scripts/sync-versions.ts
Due: lint, format

fix: use absolute source path in marketplace.json
  .claude-plugin/marketplace.json
Due: format

chore: release v0.2.1
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  CHANGELOG.md
  package.json
Due: format

feat: add version command and profiles doc topic
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  CHANGELOG.md
  docs/profiles.md
  package.json
  src/cli.ts
  src/commands/doc.ts
Due: lint, format

docs: add comprehensive CLI documentation topics
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  CHANGELOG.md
  docs/commands.md
  docs/hooks.md
  docs/interpolation.md
  docs/k3d.md
  docs/lockfile.md
  docs/ports.md
  package.json
  src/cli.ts
  src/commands/doc.ts
Due: lint, format

docs: update skill with doc topics and version command
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  .claude-plugin/silo/skills/silo/SKILL.md
  CHANGELOG.md
  package.json
Due: format

feat: rewrite skill and add 5 new doc topics
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  .claude-plugin/silo/skills/silo/SKILL.md
  CHANGELOG.md
  docs/commands.md
  docs/hosts.md
  docs/logging.md
  docs/tilt.md
  docs/troubleshooting.md
  docs/urls.md
  package.json
  scripts/sync-versions.ts
  src/cli.ts
  src/commands/doc-topics.ts
  src/commands/doc.test.ts
  src/commands/doc.ts
  src/version.ts
Due: lint, format

docs: add Claude Code skill installation instructions
  README.md
Due: none

fix: match marketplace name to GitHub path casing for macOS
  .claude-plugin/marketplace.json
  README.md
Due: format

feat: add ASCII art and colors to version command
  src/cli.ts
  src/utils/colors.ts
Due: lint, format

feat: yellow silo, green ground in version banner
  src/cli.ts
  src/utils/colors.ts
Due: lint, format

chore: release v0.3.1
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  CHANGELOG.md
  package.json
  src/version.ts
Due: lint, format

docs: clarify k3d agents and loadbalancer in examples
  docs/k3d.md
  docs/silo-toml.md
  example/silo.toml
Due: format

chore: release v0.3.2
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  CHANGELOG.md
  package.json
  src/version.ts
Due: lint, format

chore: ignore envrc private
  .gitignore
Due: none

chore: ignore changeset binary in knip
  knip.json
Due: format

chore: release v0.3.3
  .claude-plugin/marketplace.json
  .claude-plugin/silo/plugin.json
  CHANGELOG.md
  package.json
  src/version.ts
Due: lint, format

fix: strip debug output from kubeconfig before writing
  src/backends/k3d.test.ts
  src/backends/k3d.ts
Due: lint, format

fix(k3d): remove global flag from ANSI regex to prevent lastIndex bug
  src/backends/k3d.ts
  src/core/ports.ts
Due: lint, format

chore: add changeset for v0.4.0
  .changeset/random-ports-and-kubeconfig-fix.md
Due: none
